@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');
:root {
  --calculator-width: 320px;
  --calculator-fontsize: 2rem;
  --calculator-padding: 1rem;
  --calculator-display-height: 40px;
  --calculator-formula-height: 20px;
}

@media (min-device-width: 320px) and (max-device-width: 480px) {
  :root {
    --calculator-width: 90vw;
    --calculator-fontsize: 5rem;
    --calculator-padding: 2rem;
    --calculator-display-height: 6rem;
    --calculator-formula-height: 4rem;
  }
  button {
    -webkit-appearance: none;
    border-radius: 0;
    background-color: #868ca0;
    color: white;
  }
  #formula {
    color: orange;
    height: var(--calculator-formula-height);
    font-size: 3rem;
  }
  p {
    font-size: 2.5rem;
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  height: 100vh;
  background-color: #8787ce;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-group {
  width: var(--calculator-width);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1px;
  border: 1px solid;
  background-color: black;
}

.screen {
  grid-column: 1/5;
  background-color: rgb(118, 118, 118);
  color: white;
}

button {
  font-size: var(--calculator-fontsize);
  padding: var(--calculator-padding) 0;
  font-family: 'ZCOOL QingKe HuangYou';
}

#clear {
  grid-column: 1/3;
}

#zero {
  grid-column: 1/3;
}

#equals {
  grid-area: 5/4/7/5;
}

#display {
  height: var(--calculator-display-height);
  text-align: right;
  font-size: var(--calculator-fontsize);
  font-family: 'ZCOOL QingKe HuangYou';
}

#formula {
  color: orange;
  height: var(--calculator-formula-height);
  text-align: right;
  font-family: 'ZCOOL QingKe HuangYou';
}

a {
  text-decoration: none;
  color: #00264d;
}